<!DOCTYPE HTML>
<html>
  <head>
    <title>Length measure testing</title>

    <!-- globals -->
    <script>L_PREFER_CANVAS = true;</script>

    <!-- font -->
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

    <!-- css libraries -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.css">
    <link rel="stylesheet" href="/css/stop.css">
    
    <!-- js toolset -->
    <script src="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script src="js/stops.js"></script>
  
  </head>

  <style>
  </style>
  
  <body>

    <div class="ajax" style="display: none;">
      <img src="imgs/loader.gif" style="height: 1em">
      <sup><sub>Running Query...</sub></sup>
    </div>

    <div class="container">
      <small style="opacity: 0.25">
        <span style="color: red">
          <strong>Warning!</strong>
        </span>
        Only tested in <a href="https://www.google.com/chrome/">Chrome</a>. Some elements known to not be supported in FF 10+ and IE.
      </small>

      <h3>
        Simple Stop Analysis Example
      </h3>

      <div class="row">
        <div id="map">
        </div>
      </div>

      <div class="row">
        <h5>
          Customization Options
          <div class="row u-pull-right">
            <button onclick="toggleStops()">
              Toggle All Stops
            </button>
            <button class="button-primary" onclick="query()">
              re/run
            </button>
          </div>
        </h5>
      </div>

      <div class="row">
        <div class="four columns">
          Toggle visibility by stop count type
        </div>
        <div class="two columns">
          <input type="checkbox" id="param_stoptype_all"> <span class="label-body">All</span>
        </div>
        <div class="one-half column" onclick="uncheck('stoptype')">
          <input type="checkbox" id="param_stoptype_early"> <span class="label-body">Early</span>
          <input type="checkbox" id="param_stoptype_ontime"> <span class="label-body">On Time</span>
          <input type="checkbox" id="param_stoptype_late"> <span class="label-body">Late</span>
        </div>
      </div>

      <div class="row">
        <div class="four columns">
          Early Categories
        </div>
        <div class="two columns">
          <input type="checkbox" id="param_early_all"> <span class="label-body">All</span>
        </div>
        <div class="one-half column" onclick="uncheck('early')">
          <input type="checkbox" id="param_early_five"> <span class="label-body">5 min</span>
          <input type="checkbox" id="param_early_two"> <span class="label-body">2 min</span>
          <input type="checkbox" id="param_early_sub"> <span class="label-body">Sub</span>
        </div>
      </div>

      <div class="row">
        <div class="four columns">
          Late Categories
        </div>
        <div class="two columns">
          <input type="checkbox" id="param_late_all"> <span class="label-body">All</span>
        </div>
        <div class="one-half column" onclick="uncheck('late')">
          <input type="checkbox" id="param_late_sub"> <span class="label-body">Sub</span>
          <input type="checkbox" id="param_late_ten"> <span class="label-body">10 min</span>
          <input type="checkbox" id="param_late_fifteen"> <span class="label-body">15 min</span>
          <input type="checkbox" id="param_late_twenty"> <span class="label-body">20 min</span>
          <input type="checkbox" id="param_late_thirty"> <span class="label-body">30 min</span>
        </div>
      </div>

      <div class="row">
        <div class="one-half column">
          <p>Date and hour for analysis</p>
        </div>
        <div class="three columns">
          <input class="u-full-width" type="date" id="param_date" min="2014-08-02" value="2015-10-20">
        </div>
        <div class="three columns">
          <input class="u-full-width" type="time" id="param_hour" value="19:00">
        </div>
      </div>


      <!-- 3 levels thresholds -->

      <div class="row">
        <div class="one-half column">
          Minimum percentage ontime (<span id="changeable_early_threshold">0</span> percent)
        </div>
        <div class="one-half column">
          <input class="u-full-width" type="range" id="param_early_threshold" 
              min="0" max="100" value="0" onclick="updateScale()">
        </div>
      </div>

      <div class="row">
        <div class="one-half column">
          Minimum percentage ontime (<span id="changeable_ontime_threshold">0</span> percent)
        </div>
        <div class="one-half column">
          <input class="u-full-width" type="range" id="param_ontime_threshold" 
              min="0" max="100" value="0" onclick="updateScale()">
        </div>
      </div>

      <div class="row">
        <div class="one-half column">
          Minimum percentage ontime (<span id="changeable_late_threshold">0</span> percent)
        </div>
        <div class="one-half column">
          <input class="u-full-width" type="range" id="param_late_threshold" 
              min="0" max="100" value="0" onclick="updateScale()">
        </div>
      </div>

      <!-- end 3 levels -->


      <div class="row">
        <div class="one-half column">
          Scale results radius (<span id="changeable_max_miss"></span><span id="changeable_scale">35</span> meters)
        </div>
        <div class="one-half column">
          <input class="u-full-width" type="range" id="param_scale" 
              min="1" max="75" value="35" onclick="updateScale()">
        </div>
      </div>

      <div class="row">
        <table class="u-full-width">
          <thead>
            <tr>
              <th>Route ID</th>
              <th>Early 5</th>
              <th>Early 2</th>
              <th>Early</th>
              <th>On Time</th>
              <th>Late</th>
              <th>Late 10</th>
              <th>Late 15</th>
              <th>Late 20</th>
              <th>Late 30</th>
              <th>Fulfilled</th>
            </tr>
          </thead>
          <tbody id="changeable_worst_stop">
          </tbody>
        </table>
      </div>

    </div>

  </body>

  <script type="text/javascript">

    // Initialization
    var map = new L.map('map', {
      center: new L.LatLng(40.735406, -73.952352),
      zoom: 12,
      layers: []
    });

    L.tileLayer('http://{s}.basemaps.cartocdn.com/dark_nolabels/{z}/{x}/{y}.png').addTo(map);

    toggleLoad("on");
    $.getJSON("api/stops")
      .error(function (err) {
        console.log("Failed to retrieve stops data: ", err);
      })
      .success(function (res) {
        plotStops(res);
        toggleLoad("off");
      })

    map.on("moveend", function(){ redrawStops(); });

    function uncheck (which) {
      $("#param_" + which + "_all")[0].checked = false;   
      if (which == "stoptype") {
        toggleStopTypes();
      }
    }

    $("#param_stoptype_all")[0].onclick = function () {
      $("#param_stoptype_early")[0].checked = true;
      $("#param_stoptype_ontime")[0].checked = true;
      $("#param_stoptype_late")[0].checked = true;
      toggleStopTypes();
    };

    $("#param_early_all")[0].onclick = function () {
      $("#param_early_sub")[0].checked = true;
      $("#param_early_two")[0].checked = true;
      $("#param_early_five")[0].checked = true;
    };

    $("#param_late_all")[0].onclick = function () {
      $("#param_late_sub")[0].checked = true;
      $("#param_late_ten")[0].checked = true;
      $("#param_late_fifteen")[0].checked = true;
      $("#param_late_twenty")[0].checked = true;
      $("#param_late_thirty")[0].checked = true;
    };

    function getCategories () {
      return {
        early: $("#param_early_sub")[0].checked,
        early_2: $("#param_early_two")[0].checked,
        early_5: $("#param_early_five")[0].checked,

        late: $("#param_late_sub")[0].checked,
        late_10: $("#param_late_ten")[0].checked,
        late_15: $("#param_late_fifteen")[0].checked,
        late_20: $("#param_late_twenty")[0].checked,
        late_30: $("#param_late_thirty")[0].checked
      }
    };

    function updateScale () {
      if (!$(".ajax").is(":visible")) {
        if ($("#changeable_scale")[0].innerHTML !== $("#param_scale")[0].value) {
          $("#changeable_scale")[0].innerHTML !== $("#param_scale")[0].value;
          resizeCircles();
        } else {
          $("#changeable_early_threshold")[0].innerHTML = $("#param_early_threshold").val();
          $("#changeable_ontime_threshold")[0].innerHTML = $("#param_ontime_threshold").val();
          $("#changeable_late_threshold")[0].innerHTML = $("#param_late_threshold").val();
          toggleStopTypes();
        }     
      } 
    }

    // start with everything toggled
    $("#param_stoptype_all")[0].onclick();
    $("#param_early_all")[0].onclick();
    $("#param_late_all")[0].onclick();
    $("#param_stoptype_all")[0].checked = true;
    $("#param_early_all")[0].checked = true;
    $("#param_late_all")[0].checked = true;

  </script>

</html>




